/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [PaymentDetailId]
      ,[CardOwnerName]
      ,[CardNumber]
      ,[ExpirationDate]
      ,[SecurityCode]
  FROM [PaymentDetailDB].[dbo].[PaymentDetails]
  
